[submodule "scratch/RA_AMC"]
	path = scratch/RA_AMC
	url = git@github.com:USYD-SDN-Lab/RA_AMC.git
[submodule "Modules/Toolbox"]
	path = Modules/Toolbox
	url = git@github.com:USYD-SDN-Lab/Toolbox.git
[submodule "Modules/RA_Minstrel_SNN"]
	path = Modules/RA_Minstrel_SNN
	url = git@github.com:USYD-SDN-Lab/RA_Minstrel_SNN.git
[submodule "src/ns3-ai"]
	path = src/ns3-ai
	url = https://github.com/hust-diangroup/ns3-ai.git
[submodule "Modules/RA_Minstrel_RNN"]
	path = Modules/RA_Minstrel_RNN
	url = git@github.com:USYD-SDN-Lab/RA_Minstrel_RNN.git
